.container{
    width: 90%;
    margin:auto;
}

mat-form-field {
    width: 100%;
    background-color: white;
}

table {
    width: 100%;
}

button {
    width: 15%;
    background: rgba(40, 179, 13, 0.836);
    margin-bottom: 1rem;
}
 
 h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    color: white;
}

.matBut{
    width: 25%;
    padding: 5px;
    margin: 5px;
}
