<mat-card class="card">
    <mat-card-header>
      <mat-card-title>InfoRacer</mat-card-title>
      <mat-card-subtitle>Informações sobre a F1</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://gmedia.playstation.com/is/image/SIEPDC/f1-2021-hero-banner-desktop-01-ps4-ps5-en-02jun21?$native$" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        BEM VINDO ao InfoRacer, o site sobre F1 mais COMPLETO da atualidade, esse é nosso modelo inicial, 
        aqui você pode consultar informações sobre a classificação dos pilotos e construtores.
        <br>
        <br>
        Feito por: Paulo Gentil e Eduardo Lobo
      </p>
    </mat-card-content>
  </mat-card>