<div class="container">
    <form class="form mat-elevation-z8">

        <h1>InfoRacer - Informações sobre a F1</h1>

        <img src="https://media.racingonline.com.br/uploads/2019/08/1017648673-LAT-20190804-_R3I5014.jpg" alt="">

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input [formControl]="email" required [(ngModel)]="creds.email" name="email" matInput placeholder="Ex. xxxx@mail.com">
        </mat-form-field>
    
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Senha</mat-label>
            <input [formControl]="senha" required [(ngModel)]="creds.senha" name="senha" type="password" matInput placeholder="Ex. 12345">
        </mat-form-field>

        <button (click)="logar()" [disabled]="!validaCampos()" class="full-width mat-elevation-z4" mat-stroked-button color="primary">Login</button>
    </form>
</div>